<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends "admin/sidebar.html" %} {% block content %}
    <div class="main-content p-4">
      <h1>Main Content Area</h1>
      <p>Here is where you can add your main content.</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
        erat a ante.
      </p>
    </div>
    {% endblock %}
  </body>
</html>
